# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Get the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
# you can use groupby to group data and compute operations on these groups.
#c = chipo.groupby('item_name')
# now you can compute operations on these groups
#c = c[['quantity']].sum() 
#ind = c['quantity'].argmax()
#c.iloc[ind]

# Or
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
int(c.head(1)['quantity'])

761

### Step 11. How many items were orderd in total?

In [18]:
sum(c['quantity'])

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price data type (dtype)

In [20]:
chipo.dtypes['item_price']

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
makeitfloat = lambda x: float(x[1:-1])

#### Step 13.c. Apply it

In [25]:
chipo['item_price'].apply(makeitfloat)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [29]:
rev = sum(chipo['item_price'].apply(makeitfloat))
rev

34500.16000000046

### Step 15. How many orders were made in the period?

In [30]:
orders = chipo.groupby('order_id')
# you can use the standard Python len function on the GroupBy object 
no = len(orders) 
no

1834

### Step 16. What is the average revenue amount per order?

In [31]:
rev / no

18.811428571428824

### Step 17. How many different items are sold?

In [32]:
len(set(chipo['item_name']))

50